<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MasterMind</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />

    <head>

    <body>
        <header>
            <h1>3 EN RAYA</h1>
        </header>
        <section>
            <article>
                Info adicional
            </article>
            <article id="tablero">
                <span>
                    <div id="f0c0">
                        <svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="45" cy="45" r="30" fill="black" />
                        </svg>
                    </div>
                    <div id="f1c0">
                        <svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="45" cy="45" r="30" fill="black" />
                        </svg>
                    </div>
                    <div id="f2c0">
                        <svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="45" cy="45" r="30" fill="black" />
                        </svg>
                    </div>
                </span>
                <span>
                    <div id="f0c1">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="130"
                            viewBox="0 0 130 130">
                            <line x1="10" y1="10" x2="80" y2="80" stroke-width="5" stroke="black" />
                            <line x1="10" y1="80" x2="80" y2="10" stroke-width="5" stroke="black" />
                        </svg>
                    </div>
                    <div id="f1c1">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="130"
                            viewBox="0 0 130 130">
                            <line x1="10" y1="10" x2="80" y2="80" stroke-width="5" stroke="black" />
                            <line x1="10" y1="80" x2="80" y2="10" stroke-width="5" stroke="black" />
                        </svg>
                    </div>
                    <div id="f2c1">
                        <svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="45" cy="45" r="30" fill="black" />
                        </svg>
                    </div>
                </span>
                <span>
                    <div id="f0c2">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="130"
                            viewBox="0 0 130 130">
                            <line x1="10" y1="10" x2="80" y2="80" stroke-width="5" stroke="black" />
                            <line x1="10" y1="80" x2="80" y2="10" stroke-width="5" stroke="black" />
                        </svg>
                    </div>
                    <div id="f1c2">
                        <svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="45" cy="45" r="30" fill="black" />
                        </svg>
                    </div>
                    <div id="f2c2">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="130"
                            viewBox="0 0 130 130">
                            <line x1="10" y1="10" x2="80" y2="80" stroke-width="5" stroke="black" />
                            <line x1="10" y1="80" x2="80" y2="10" stroke-width="5" stroke="black" />
                        </svg>
                    </div>
                </span>
            </article>
            <article>
                Info adicional
            </article>
    </body>
    <footer>
    </footer>

</html>