<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MasterMind</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />

    <head>

    <body>
        <header>
            <h1>3 EN RAYA</h1>
            <script src='../js/entrada.js'></script>
            <script src='../js/salida.js'></script>
            <script src='../js/crear_tablero.js'></script>
        </header>
        <section>
            <article>
                Info adicional
            </article>
            <article id="tablero">
                <span>
                    <div id="f0c0"></div>
                    <div id="f0c1"></div>
                    <div id="f0c2"></div>
                </span>
                <span>
                    <div id="f1c0"></div>
                    <div id="f1c1"></div>
                    <div id="f1c2"></div>
                </span>
                <span>
                    <div id="f2c0"></div>
                    <div id="f2c1"></div>
                    <div id="f2c2"></div>
                </span>
            </article>
            <article>
                Info adicional
            </article>
    </body>
    <footer>
        <script src='../js/main.js'></script>
    </footer>

</html>